/*****************************************************************************************

 * Olavsfestdagene - css v.0.2.
 *
 * The CSS is fully scalable with responsive design as a future possibility.
 ** Author: Knut Karlsen (knutarino@gmail.com)
 ** Last updated: 19/04.12
 
*****************************************************************************************/

/* resets */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}table{border-collapse:collapse;border-spacing:0;}

/* clearfix */
.cf:before,.cf:after{content:'';display:table;}.cf:after{clear:both;}.ie7 .cf{zoom:1;}


/* setup */
html,body {
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	color:#333;
	-webkit-font-smoothing:antialiased;
}

html {
	background:#9cd5f3 url('../Images/bg_pattern.png') left top repeat;
}

body {
	background:url('../Images/bg_logo.png') right bottom no-repeat;
}

#wrapper {
	margin:0 auto;
	width:1020px;
}

b,strong {
	font-weight:800;
}

i,em {
	font-style:italic;
}


/* header */
header {
	width:100%;
	float:left;
	position:relative;
}

header h1 a {
	height:197px;
	display:block;
	width:100%;
	text-indent:-9999px;
	position:relative;
	z-index:99;
}

.ie7 header h1 a, .ie8 header h1 a, .ie9 header h1 a { background:url('::/Images/blank.gif') top left repeat; }

header h1 span {
	position:absolute;
	top:78px;
	right:50px;
	pointer-events:none;
	text-transform:uppercase;
	font-family:'proxima-nova',Arial,Helvetica,sans-serif;
	font-size:20px;
	line-height:21px;
	color:#1d1d1b;
	text-shadow:1px 1px 1px #ddf1fb;
}

header h1 b {
	font-weight:bold;
	display:block;
}

header > img {
	position:absolute;
	top:0;
	left:-90px;
	z-index:1;
}

header nav, header h1 {
	position:relative;
	z-index:2;
}

header nav {
	background:#000 url('../Images/bg_nav.png') left top repeat;
	padding:7px 40px;
}

header nav ul {
	float:left;
	width:100%;
	font-size:14px;
}

header nav li {
	float:left;
	padding-right:20px;
}

header nav li.language {
	float:right;
	padding-right:0;
}

header nav a {
	display:block;
	color:#d1d1d1;
	text-decoration:none;
	line-height:21px;
	height:21px;
}

header nav li.language a {
	background-image:url('../Images/flags.png');
	background-repeat:no-repeat;
	padding-right:40px;
}

.en header nav li.language a {
	background-position:right 0px;
}

.en header nav li.language a:hover {
	background-position:right -21px;
}

.no header nav li.language a {
	background-position:right -42px;
}

.no header nav li.language a:hover {
	background-position:right -63px;
}

header nav a:hover {
	text-decoration:underline;
}



/* sections */
.full {
	width:100%;
	float:left;
	position:relative;
}

.standard {
	width:66%;
	margin-right:2%;
	float:left;
	position:relative;
}

aside {
	width:32%;
	float:right;
	position:relative;
	background:blue;
}


/* slideshow */
.slideshow {
	padding-bottom:20px;
}

.slideshow > ul {
	float:left;
	width:100%;
}

.slideshow > ul li {
	overflow:hidden;
}

.slideshow > ul li, .slideshow .controls {
	display:none;
	width:inherit;
}

.slideshow > ul li:first-child, .slideshow > ul li.active {
	display:block;
	position:relative;
}

.slideshow > ul li a {
	color:#fff;
	text-decoration:none;
}

.slideshow > ul li h3 {
	font-size:24px;
	line-height:30px;
	font-weight:normal;
	font-family:'droid-serif',Arial,Helvetica,sans-serif;
	background:url('../Images/slide_headline_bg.png') left top repeat;
	display:inline-block;
	padding:10px 15px;
	position:absolute;
	bottom:20px;
	left:10px;
	margin-right:10px;
}

.ie7 .slideshow > ul li h3 {
	zoom:1;
	display:inline;
}

.slideshow > ul li img {
	display:block;
	width:100%;
}

.slideshow .previous, .slideshow .next {
	position:absolute;
	top:135px;
	z-index:99;
	display:none;
	width:30px;
	height:49px;
	cursor:pointer;
	text-indent:-9999px;
}

.slideshow .previous { 
	left:15px;
	background:url('../Images/slide_prev.png') left top no-repeat;
}

.slideshow .next { 
	right:15px;
	background:url('../Images/slide_next.png') left top no-repeat;
}

.slideshow .controls {
	float:left;
	width:100%;
	background-size:100%;
	padding:10px 0 0;
	text-align:center;
	margin:0 auto;
}

.slideshow .controls ul {
	margin:0 auto;
	display:inline-block;
}

.ie7 .slideshow .controls ul {
	zoom:1;
	display:inline;
}

.slideshow .controls li {
	float:left;
	width:10px;
	height:10px;
	cursor:pointer;
	margin:0 5px;
	text-indent:-9999px;
	background:url(../Images/slide_normal.png) center no-repeat;
	-moz-transition:all .5s;
	-webkit-transition:all .5s;
	-o-transition:all .5s;
	transition:all .5s;
}

.slideshow .controls li.active { 
	background:url(../Images/slide_active.png) center no-repeat; 
}


/* articles */
article figure {
	position:relative;
}

article figure img:first-child {
	display:block;
	width:100%;
}

article figure .pointer {
	display:block;
	position:absolute;
	bottom:-1px;
	left:20px;
	pointer-events:none;
	z-index:2;
}

article figure .overlay {
	display:none;
}


.colored figure {
	margin:10px;
}

.ie7 .colored figure, .ie8 .colored figure {
	margin:0;
}

.ie7 article figure .overlay, .ie8 article figure .overlay {
	display:block;
	position:absolute;
	top:0;
	left:0;
	pointer-events:none;
	z-index:2;
	width:100%;
}

.colored figure img:first-child {
	border-radius:80px;
	-moz-border-radius:80px;
	-webkit-border-radius:80px;
}

.colored h3 {
	font-family:'proxima-nova',Arial,Helvetica,sans-serif;
	font-size:15px;
	line-height:16px;
	font-weight:800;
	text-align:center;
	margin-top:5px;
}

.colored a {
	text-decoration:none;
	color:#454545;
}

.blue a { color:#0091d2; }
.green a { color:#6cb580; }
.red a { color:#ea5b56; }
.purple a { color:#d581ad; }


/* two-split */
.two-split article {
	clear:both;
	float:left;
	width:48.5%;
}

.two-split article.other {
	clear:none;
	float:right;
}

.two-split {
	font-family:'proxima-nova',Arial,Helvetica,sans-serif;
	color:#454545;
}

.two-split h3 a {
	font-size:17px;
	color:#454545;
	text-decoration:none;
	font-weight:800;
	text-transform:uppercase;
	line-height:20px;
	display:block;
	margin:10px 0;
}

.two-split p {
	margin:0;
	font-size:15px;
	line-height:20px;
	font-weight:400;
	padding-bottom:25px;
}

.two-split p a {
	font-weight:800;
	text-transform:uppercase;
	color:#454545;
	text-decoration:none;
}

.two-split > a {
	display:block;
	font-weight:800;
	color:#a9a794;
	line-height:20px;
	font-size:15px;
	text-decoration:none;
	border:1px solid #d5d5d5;
	padding:8px;
	text-align:right;
	text-transform:uppercase;
	clear:both;
	margin-bottom:20px;
}


/* four-split */
.four-split article {
	float:left;
	width:21%;
	margin:0 2%;
}

.four-split article > a {
	display:block;
}






/* content */
section.content {
	float:left;
	background:#fff;
	width:100%;
	box-shadow: 0 0 25px #666;
	-moz-box-shadow: 0 0 25px #666;
	-webkit-box-shadow: 0 0 25px #666;
	position:relative;
	z-index:2;
}

section .align {
	padding:40px;
}




/* big navigation */
section nav ul {
	padding:0 0 40px;
	float:left;
	width:100%;
}

section nav li {
	float:left;
	position:relative;
	padding:0 15px 0 16px;
	background:url('../Images/spacer.png') left center no-repeat;
	margin-left:-1px;
}

section nav li:first-child {
	background:none;
}

section nav li.active {
	background:#0091d2;
	z-index:2;
	padding:0 15px;
	margin:0;
}

section nav a {
	display:block;
	line-height:40px;
	height:40px;
	font-size:20px;
	color:#0091d2;
	text-decoration:none;
}

section nav a:hover {
	text-decoration:underline;
}

section nav li.active a {
	color:#fff;
	text-decoration:none;
}

section li.search {
	float:right;
	margin:0;
	padding:0 0 0 10px;
	background:#e6e7e1;
	border:1px solid #dad6bd;
	position:relative;
	width:258px;
}

section li.search input[type='text'] {
	padding:10px 0;
	margin:0;
	height:18px;
	font-size:18px;
	font-style:italic;
	color:#847f7b;
	text-shadow:1px 1px 0 #fff;
	line-height:18px;
	width:218px;
	border:none;
	background:none;
	outline:none;
	position:relative;
	z-index:1;
}

section li.search input[type='submit'] {
	height:25px;
	width:27px;
	padding:0;
	margin:0;
	text-indent:-9999px;
	border:none;
	background:url('../Images/icon_search.png') left center no-repeat;
	outline:none;
	position:absolute;
	z-index:2;
	top:7px;
	right:6px;
}


/* sidebar */
.calendar {
	padding:10px;
	background:#6cb580;
}

.calendar h2, .calendar h3, .calendar h4 {
	font-family:'proxima-nova',Arial,Helvetica,sans-serif;
	color:#fff;
}

.calendar h2, .calendar h3 {
	font-weight:800;
}

.calendar h2 {
	font-size:30px;
	text-transform:uppercase;
	margin-bottom:10px;
}

.calendar h3 {
	font-size:22px;
	margin-bottom:5px;
}

.calendar h4 {
	font-size:16px;
	margin-bottom:10px;
}


/* footer */
footer {
	margin-top:35px;
	padding:20px 0 50px;
	border-top:1px solid #c7c2bc;
	width:100%;
	float:left;
	font-family:'proxima-nova',Arial,Helvetica,sans-serif;
	font-size:15px;
	line-height:20px;
	font-weight:400;
	color:#454545;
}

footer .info {
	float:left;
	width:70%;
	margin-right:5%;
}

footer .info a {
	color:#454545;
	text-decoration:none;
}

footer .madeby {
	float:right;
	width:25%;
}

footer .madeby a {
	color:#454545;
	text-decoration:none;
	font-weight:800;
}
