/*****************************************************************************************

 * Olavsfestdagene - css v.0.2.
 *
 * The CSS is fully scalable with responsive design as a future possibility.
 ** Author: Knut Karlsen (knutarino@gmail.com)
 ** Last updated: 19/04.12
 
*****************************************************************************************/

/* resets */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}table{border-collapse:collapse;border-spacing:0;}

/* clearfix */
.cf:before,.cf:after{content:'';display:table;}.cf:after{clear:both;}.ie7 .cf{zoom:1;}


/* setup */
html,body {
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	color:#333;
	-webkit-font-smoothing:antialiased;
	-webkit-text-size-adjust:none; 
}

html {
	background:#9cd5f3 url('../Images/bg_pattern.png') left top repeat;
}

@media screen and (min-width: 1480px) { 
	body { background:url('../Images/bg_logo.png') right bottom no-repeat; }
}

#wrapper {
	margin:0 auto;
	min-width:960px;
	max-width:1020px;
}

h1, h2, h3, h4, h5, h6 {
	font-family:'proxima-nova',Arial,Helvetica,sans-serif;
	font-weight:800;
	color:inherit;
}

h1 {
	font-size:42px;
	line-height:48px;
	font-weight:800;
	margin-bottom:20px;
}

h2 {
	font-size:30px;
	line-height:36px;
	margin-bottom:15px;
}

h3 {
	font-size:22px;
	line-height:28px;
	margin-bottom:10px;
}

h4 {
	font-size:16px;
	line-height:20px;
	margin-bottom:10px;
}

h5 {
	font-size:15px;
	line-height:20px;
	margin-bottom:8px;
}

h6 {
	font-size:14px;
	line-height:20px;
	margin-bottom:8px;
}

b,strong {
	font-weight:800;
}

i,em {
	font-style:italic;
}

.sub {
	border-bottom:1px solid #c7c2bc;
}

h2.sub {
	font-size:18px;
	padding-bottom:5px;
	margin:20px 0;
	text-transform:uppercase;
}


/* header */
header {
	width:100%;
	float:left;
	position:relative;
}

header h1 a {
	height:197px;
	display:block;
	width:100%;
	text-indent:-9999px;
	position:relative;
	z-index:99;
}

.ie7 header h1 a, .ie8 header h1 a, .ie9 header h1 a { background:url('::/Images/blank.gif') top left repeat; }

header h1 span {
	position:absolute;
	top:78px;
	right:50px;
	pointer-events:none;
	text-transform:uppercase;
	font-family:'proxima-nova',Arial,Helvetica,sans-serif;
	font-size:20px;
	line-height:21px;
	color:#1d1d1b;
	text-shadow:1px 1px 1px #ddf1fb;
	font-weight:normal;
}

header h1 b {
	font-weight:800;
	display:block;
}

header > img {
	position:absolute;
	top:0;
	left:-90px;
	z-index:1;
}

header nav, header h1 {
	position:relative;
	z-index:2;
}

header nav {
	background:#000 url('../Images/bg_nav.png') left top repeat;
	padding:7px 40px 0 40px;
}

header nav ul {
	float:left;
	width:100%;
	font-size:17px;
	line-height:20px;
	font-family:'proxima-nova',Arial,Helvetica,sans-serif;
}

header nav li {
	float:left;
	padding-right:20px;
}

header nav li.active a {
	padding-bottom:3px;
	border-bottom:4px solid #fee257;
	color:#fee257;
}

header nav li.language {
	float:right;
	padding-right:0;
}

header nav a {
	display:block;
	color:#d1d1d1;
	text-decoration:none;
	line-height:21px;
	height:21px;
	padding-bottom:7px;
	transition:color .2s;
	-moz-transition:color .2s;
	-webkit-transition:color .2s;
	-o-transition:color .2s;
}

header nav a:hover {
	color:#fff;
}

header nav li.language a {
	background-image:url('../Images/flags.png');
	background-repeat:no-repeat;
	padding-right:40px;
	padding-bottom:0;
}

.en header nav li.language a {
	background-position:right 0px;
}

.en header nav li.language a:hover {
	background-position:right -21px;
}

.no header nav li.language a {
	background-position:right -42px;
}

.no header nav li.language a:hover {
	background-position:right -63px;
}


/* sections */
.full {
	width:100%;
	float:left;
	position:relative;
}

.top {
	padding-top:20px;
}

.shadow {
	background:url('../Images/bg_shade.png') center top no-repeat;
	background-size:100% auto;
}

.standard {
	width:66%;
	margin-right:2%;
	float:left;
	position:relative;
}

aside {
	width:32%;
	float:right;
	position:relative;
}


/* slideshow */
.slideshow {
	padding-bottom:20px;
	float:left;
	width:100%;
}

.slideshow > ul {
	float:left;
	width:100%;
	position:relative;
}

.slideshow > ul li {
	overflow:hidden;
}

.slideshow > ul li, .slideshow .controls {
	display:none;
	width:inherit;
}

.slideshow > ul li:first-child, .slideshow > ul li.active {
	display:block;
	position:relative;
}

.slideshow > ul li a {
	color:#fff;
	text-decoration:none;
}

.slideshow > ul li h3 {
	font-size:24px;
	line-height:30px;
	font-weight:normal;
	font-family:'droid-serif',serif;
	background:url('../Images/bg_headline.png') left top repeat;
	display:inline-block;
	padding:10px 15px;
	position:absolute;
	bottom:20px;
	left:10px;
	margin:0 10px 0 0;
	font-style:italic;
}

.ie7 .slideshow > ul li h3 {
	zoom:1;
	display:inline;
}

.slideshow > ul li h5 {
	bottom:0;
	left:0;
	width:100%;
	font-size:15px;
	line-height:20px;
	color:#fff;
	font-weight:normal;
	position:absolute;
	font-family:'droid-serif',serif;
	background:url('../Images/bg_headline.png') left top repeat;
	font-style:italic;
	margin:0;
}

.slideshow > ul li h5 i {
	display:block;
	padding:10px;
}

.slideshow > ul li img {
	display:block;
	width:100%;
}

.slideshow .previous, .slideshow .next {
	position:absolute;
	top:135px;
	z-index:99;
	display:none;
	width:30px;
	height:49px;
	cursor:pointer;
	text-indent:-9999px;
	padding:15px;
}

.slideshow .previous { 
	left:0;
	background:url('../Images/slide_prev.png') center no-repeat;
}

.slideshow .next { 
	right:0;
	background:url('../Images/slide_next.png') center no-repeat;
}

.slideshow .controls {
	float:left;
	width:100%;
	background-size:100%;
	padding:10px 0 0;
	text-align:center;
	margin:0 auto;
}

.slideshow .controls ul {
	margin:0 auto;
	display:inline-block;
}

.ie7 .slideshow .controls ul {
	zoom:1;
	display:inline;
}

.slideshow .controls li {
	float:left;
	width:10px;
	height:10px;
	cursor:pointer;
	margin:0 5px;
	text-indent:-9999px;
	background:url(../Images/slide_normal.png) center no-repeat;
	display:none;
}

.slideshow .controls li.active { 
	background:url(../Images/slide_active.png) center no-repeat; 
}


/* articles */
article {
	float:left;
	width:100%;
	font-family:'proxima-nova',Arial,Helvetica,sans-serif;
	font-size:18px;
	line-height:26px;
	color:#333;
	overflow:hidden;
	position:relative;
}

article p.preamble {
	font-family:'droid-serif',serif;
	font-size:20px;
	line-height:30px;
	font-style:italic;
	margin-bottom:18px;
}

article p {
	margin-bottom:18px;
}

.video-embed {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
	margin-bottom:18px;
}

.video-embed iframe, .video-embed object, .video-embed embed, .video-embed iframe[style] {
	position:absolute;
	top:0;
	left:0;
	width:100% !important;
	height:100% !important;
}

article iframe[style], article iframe {
	width:100% !important;
	margin-bottom:10px;
}

article a {
	color:#0091D2;
	text-decoration:none;
}

article a:hover {
	text-decoration:underline;
}

article ul, article ol {
	padding:0 14px 20px 60px;
}

article li {
	padding-bottom:4px;
}

article ul {
	list-style: disc outside none;
}

article ol {
	list-style: decimal outside none;
}

article blockquote {
	margin-bottom:18px;
}

blockquote p {
	font-family:'droid-serif',serif;
	font-style:italic;
	background:url('../Images/quote.png') left center no-repeat;
	margin:0;
	padding:10px 18px 10px 120px;
}

article .wp-caption p {
	font-style:italic;
}

article p img {
	display:block;
	margin-bottom:18px;
}

article figure {
	position:relative;
}

article figure img:first-child {
	display:block;
	width:100%;
}

article figure .pointer {
	display:block;
	position:absolute;
	bottom:-1px;
	left:20px;
	pointer-events:none;
	z-index:2;
}

article figure .overlay {
	display:none;
}

.highlighted figure {
	margin:10px;
}

.highlighted a:hover {
	text-decoration:none;
}

.ie7 .highlighted figure, .ie8 .highlighted figure {
	margin:0;
}

.ie7 article figure .overlay, .ie8 article figure .overlay {
	display:block;
	position:absolute;
	top:0;
	left:0;
	pointer-events:none;
	z-index:2;
	width:100%;
	-ms-interpolation-mode:bicubic;
}

.highlighted figure img:first-child {
	border-radius:200px;
	-moz-border-radius:200px;
	-webkit-border-radius:200px;
	-o-border-radius:200px;
}

.highlighted h3 {
	font-family:'proxima-nova',Arial,Helvetica,sans-serif;
	font-size:15px;
	line-height:16px;
	font-weight:800;
	text-align:center;
	margin-top:5px;
}

.ie7 .highlighted h3 {
	position:relative;
	z-index:99;
}

.highlighted a {
	text-decoration:none;
	color:#454545;
}

.blue a { color:#0091d2; }
.green a { color:#6cb580; }
.red a { color:#ea5b56; }
.purple a { color:#d581ad; }
.yellow a { color:#fccf5b; }
.grey a { color:#83816f; }




/* splits */
.two-split, .four-split {
	float:left;
	width:100%;
}

.one-split {
	border:1px solid #c7c2bc;
	background:#fff;
	margin:3% 0;
	overflow:hidden;
	display:block;
}

a.one-split {
	text-decoration:none;
}

.one-split figure {
	float:left;
	width:48.5%;
	margin-right:3%;
}

.one-split h2, .one-split h3, .one-split p {
	margin-left:52%;
}

.one-split h2 {
	margin-top:20px;
	margin-bottom:20px;
	margin-right:3%;
}

.one-split h2 a, .one-split h2 {
	color:#454545;
	font-size:40px;
	line-height:42px;
	font-family:'droid-serif',serif;
	font-style:italic;
	font-weight:normal;
	transition:color .4s;
	-moz-transition:color .4s;
	-webkit-transition:color .4s;
	-o-transition:color .4s;
}

.one-split h2 a:hover, .one-split:hover h2 {
	text-decoration:none;
	color:#333;
}

.one-split p {
	font-size:18px;
	font-weight:800;
	color:#454545;
	margin-bottom:20px;
}

.two-split > article, .two-split > li {
	clear:both;
	float:left;
	width:48.5%;
	position:relative;
	margin-bottom:3%;
}

.two-split > article.odd, .two-split li.odd {
	clear:none;
	float:right;
}

.two-split {
	font-family:'proxima-nova',Arial,Helvetica,sans-serif;
	color:#454545;
}

.two-split h3 {
	margin:0;
}

.two-split h3 a {
	font-size:17px;
	color:#454545;
	text-decoration:none;
	font-weight:800;
	text-transform:uppercase;
	line-height:24px;
	display:block;
	margin:10px 0;
}

.two-split.compact h3 {
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	background:url('../Images/bg_headline.png') left top repeat;
}

.two-split.compact.dark h3 {
	background:url('../Images/bg_headline_darker.png') left top repeat;
}

.two-split.compact h3 a {
	font-family:'droid-serif',serif;
	margin:0;
	padding:10px;
	font-size:18px;
	font-style:italic;
	color:#fff;
	font-weight:normal;
	text-transform:none;
}

.two-split p {
	margin:0;
	font-size:15px;
	line-height:20px;
	font-weight:400;
}

.two-split p a {
	font-weight:800;
	text-transform:uppercase;
	color:#454545;
	text-decoration:none;
}

.two-split > a {
	display:block;
	font-weight:800;
	color:#a9a794;
	line-height:20px;
	font-size:15px;
	text-decoration:none;
	border:1px solid #d5d5d5;
	padding:8px;
	text-align:right;
	text-transform:uppercase;
	clear:both;
	margin-bottom:20px;
}

.four-split > article, .four-split > li {
	float:left;
	width:22.75%;
	position:relative;
	margin:0 3% 3% 0;
}

.ie7 .four-split > article, .ie7 .four-split > li { 
	width:22.68%;
}

.four-split > article.last, .four-split > li.last {
	margin-right:0;
}

.four-split {
	font-family:'proxima-nova',Arial,Helvetica,sans-serif;
	color:#454545;
}

.four-split h3 {
	margin:0;
}

.four-split h3 a {
	font-size:13px;
	color:#454545;
	text-decoration:none;
	font-weight:800;
	text-transform:uppercase;
	line-height:17px;
	display:block;
	margin:10px 0;
}

.four-split.compact h3 {
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	background:url('../Images/bg_headline.png') left top repeat;
}

.four-split.compact.dark h3 {
	background:url('../Images/bg_headline_darker.png') left top repeat;
}

.four-split.compact h3 a {
	font-family:'droid-serif',serif;
	margin:0;
	padding:10px;
	font-size:13px;
	font-style:italic;
	color:#fff;
	font-weight:normal;
	text-transform:none;
}

.four-split p {
	margin:0;
	font-size:11px;
	line-height:17px;
	font-weight:400;
}

.four-split p a {
	font-weight:800;
	text-transform:uppercase;
	color:#454545;
	text-decoration:none;
}

.four-split > a {
	display:block;
	font-weight:800;
	color:#a9a794;
	line-height:17px;
	font-size:13px;
	text-decoration:none;
	border:1px solid #d5d5d5;
	padding:8px;
	text-align:right;
	text-transform:uppercase;
	clear:both;
	margin-bottom:20px;
}

.four-split.highlighted article {
	float:left;
	width:21%;
	margin:0 2%;
}

.ie7 .four-split.highlighted article {
	width:20.8%;
}

.four-split article > a {
	display:block;
}

.second-row p, .third-row p {
	position:absolute;
	bottom:-99px;
	left:0;
	background:url('../Images/bg_headline_darker.png') left top repeat;
	display:block;
	width:100%;
	color:#fff;
	padding:0 0 10px;
}

.third-row p {
	line-height:14px;
}

.second-row p b, .third-row p b {
	padding:0 10px;
	display:block;
}

.one-split.blue p b, .second-row .blue p b:first-child, .third-row .blue p b:first-child { color:#0091d2; }
.one-split.green p b, .second-row .green p b:first-child, .third-row .green p b:first-child { color:#6cb580; }
.one-split.red p b, .second-row .red p b:first-child, .third-row .red p b:first-child { color:#ea5b56; }
.one-split.purple p b, .second-row .purple p b:first-child, .third-row .purple p b:first-child { color:#d581ad; }
.one-split.yellow p b, .second-row .yellow p b:first-child, .third-row .yellow p b:first-child { color:#fccf5b; }
.one-split.grey p b, .second-row .grey p b:first-child, .third-row .grey p b:first-child { color:#83816f; }

.one-split p b, .second-row p b:first-child, .third-row p b:first-child {
	display:block;
	text-transform:uppercase;
}



/* content */
section.content {
	float:left;
	background:#fff;
	width:100%;
	box-shadow: 0 0 25px #666;
	-moz-box-shadow: 0 0 25px #666;
	-webkit-box-shadow: 0 0 25px #666;
	position:relative;
	z-index:2;
}

section .align {
	padding:40px;
}


/* big navigation */
nav.main ul {
	padding:0 0 20px;
	float:left;
	width:100%;
}

nav.main li {
	float:left;
	position:relative;
	padding:0 15px 0 16px;
	background:url('../Images/spacer.png') left center no-repeat;
	margin-left:-1px;
}

nav.main li:first-child {
	background:none;
}

nav.main li.active {
	background:#0091d2;
	z-index:2;
	padding:0 15px;
	margin:0;
}

nav.main a {
	display:block;
	line-height:40px;
	height:40px;
	font-size:24px;
	color:#0091d2;
	text-decoration:none;
	font-family:'proxima-nova',Arial,Helvetica,sans-serif;
}

nav.main a:hover {
	text-decoration:underline;
}

nav.main li.active a {
	color:#fff;
	text-decoration:none;
}

nav.main li.search {
	float:right;
	margin:0;
	padding:0;
	background:#e6e7e1;
	position:relative;
	width:32%;
}

nav.main li.search form {
	padding:0 42px 0 10px;
	border:1px solid #dad6bd;
}

nav.main li.search input[type='text'] {
	padding:10px 0;
	margin:0;
	height:18px;
	font-size:16px;
	font-family:'droid-serif',serif;
	font-style:italic;
	color:#847f7b;
	text-shadow:1px 1px 0 #fff;
	line-height:18px;
	width:100%;
	border:none;
	background:none;
	outline:none;
	position:relative;
	z-index:1;
}

nav.main li.search input[type='submit'] {
	height:25px;
	width:27px;
	padding:0;
	margin:0;
	text-indent:-9999px;
	border:none;
	background:url('../Images/icon_search.png') left center no-repeat;
	outline:none;
	position:absolute;
	z-index:2;
	top:7px;
	right:6px;
}


/* sidebar */
.calendar {
	padding:20px;
	margin-bottom:25px;
	background:#6cb580;
}

.calendar h2, .calendar h3, .calendar h4 {
	font-family:'proxima-nova',Arial,Helvetica,sans-serif;
	color:#fff;
}

.calendar h2, .calendar h3 {
	font-weight:800;
}

.calendar h2 {
	font-size:30px;
	text-transform:uppercase;
	margin-bottom:10px;
}

.calendar h3 {
	font-size:22px;
	margin-bottom:0;
}

.calendar h4 {
	font-size:16px;
	font-weight:normal;
}

.calendar table {
	color:#83816f;
  display:table;
  font-size:22px;
  width:100%;
  font-family:'proxima-nova',Arial,Helvetica,sans-serif;
  text-align:center;
  margin-top:20px;
}

.calendar th {
	background:#ea5b56;
	color:#fff;
	font-size:10px;
	font-weight:800;
	text-transform:uppercase;
	padding:4px 0;
	border-left:2px solid #6cb580;
}

.calendar th:first-child {
	border-left:none;
}

.calendar td {
	background:#a7d2b8;
	border-top:2px solid #6cb580;
	border-left:2px solid #6cb580;
}

.calendar td:first-child {
	border-left:none;
}

.calendar td a {
	display:block;
	background:#89caef;
	padding:4px 0;
	text-decoration:none;
	color:#303030;
}

.sponsors img {
	display:block;
	width:100%;
	max-width:250px;
	margin-bottom:10px;
}

.sponsors a {
	color:#212121;
	text-decoration:none;
	font-weight:800;
}

.module h1, .module h2, .module h3, .module h4, .module h5, .module h6 {
	margin-bottom:10px;
	font-weight:800;
	position:relative;
	z-index:2;
}

.module {
	padding:20px;
	border:1px solid #999;
	margin-bottom:25px;
	background:#fff;
	font-family:'proxima-nova',Arial,Helvetica,sans-serif;
	font-size:15px;
	line-height:20px;
}

.module.blue {
	background:#0091d2;
	border:none;
	color:#fff;
}

.module.green {
	background:#6cb580;
	border:none;
	color:#fff;
}

.module.red {
	background:#ea5b56;
	border:none;
	color:#fff;
}

.module.purple {
	background:#d581ad;
	border:none;
	color:#fff;
}

.module.yellow {
	background:#fccf5b;
	border:none;
	color:#fff;
}

.module.grey {
	background:#83816f;
	border:none;
	color:#fff;
}

.facebook {
	border:1px solid #999;
	background:#fff;
	overflow:hidden;
}

.fb-like-box, .fb-like-box iframe[style], .fb-like-box span, .fb-like-box iframe span[style], .fb-like, .fb-like iframe[style], .fb-like span, .fb-like iframe span[style] {
	width:100% !important;
}

/* event sidebar */
.module p, .module blockquote {
	padding-bottom:10px;
}

.module p a {
	color:#0091d2;
	text-decoration:underline;
}

.module ul, .module ol {
	padding:0 14px 20px 60px;
}

.module.blue p a, .module.red p a, .module.yellow p a, .module.purple p a, .module.green p a, .module.grey p a {
	color:#fff;
}

.module li {
	padding-bottom:4px;
}

.module ul {
	list-style:disc outside none;
}

.module ol {
	list-style:decimal outside none;
}

.module.event ol.dates, .module.event ul.tickets {
	list-style:none;
	padding:0;
}

.module p a:hover {
	text-decoration:none;
}

.module.event {
	border:1px solid #ea5b56;
	background:#ea5b56;
	padding:0;
}

.module.event ol.dates {
	padding:10px;
	margin:0;
	font-size:13px;
	line-height:16px;
}

.module.event ol.dates li {
	padding:8px;
	text-align:center;
	font-weight:bold;
	color:#fff;
	cursor:pointer;
	display:inline-block;
	margin:0;
	transition:background .4s;
	-moz-transition:background .4s;
	-webkit-transition:background .4s;
	-o-transition:background .4s;
}

.ie7 .module.event ol.dates li {
	display:inline;
	zoom:1;
}

.module.event ol.dates li:hover {
	background:#ba231d;
}

.module.event ol.dates li.active {
	background:#fff;
	color:#ea5b56;
}

.module.event h3.datetime {
	color:#fff;
	font-size:32px;
	line-height:32px;
	text-transform:uppercase;
	padding:0 10px 10px;
	margin:0;
}

.module.event h3.datetime i {
	font-style:normal;
	display:block;
}

.module.event .info { 
	padding:10px 10px 0 10px;
	background:#fff;
}

.module.event > div {
	display:none;
}

.module.event > div.active {
	display:block;
}

.module.event ul.tickets {
	background:#fbeee8;
	font-size:18px;
	line-height:20px;
	color:#333;
}

.module.event ul.tickets li {
	border-top:1px solid #ea5b56;
	border-right:1px solid #ea5b56;
	padding:7px 10px;
	margin-right:80px;
	position:relative;
}

.module.event ul.tickets li b {
	border-top:1px solid #ea5b56;
	position:absolute;
	top:-1px;
	right:-80px;
	padding:7px 10px;
	width:60px;
	text-align:right;
}

.module.event a.buy-tickets {
	font-family:'proxima-nova',Arial,Helvetica,sans-serif;
	color:#fff;
	background:#ba231d;
	display:block;
	text-align:center;
	padding:15px 10px;
	text-decoration:none;
	text-transform:uppercase;
	font-size:22px;
	font-weight:800;
	transition:color .4s;
	-moz-transition:color .4s;
	-webkit-transition:color .4s;
	-o-transition:color .4s;
}

.module.event a.buy-tickets:hover {
	color:#f1f1f1;
}

.share {
	line-height:20px;
	margin-bottom:40px;
}

.share h5, .flickr h5 {
	color:#333;
	text-transform:uppercase;
}

.share a {
	font-size:11px;
	color:#333;
	display:inline-block;
	padding-left:20px;
	line-height:20px;
	height:20px;
	text-decoration:none;
}

.share a:hover {
	text-decoration:underline;
}

a.facebook-share {
	background:url('../Images/share_facebook.png') left center no-repeat;
}

a.twitter-share {
	background:url('../Images/share_twitter.png') left center no-repeat;
}

.flickr li {
	float:left;
	width:25%;
	margin:0;
	padding:0;
}

.ie7 .flickr li {
	width:24.9%;
}

.flickr a {
	display:block;
	padding:0 3px 3px 0;
}

.flickr img {
	display:block;
	width:100%;
}



/* footer */
footer {
	margin-top:35px;
	padding:20px 0 50px;
	border-top:1px solid #c7c2bc;
	width:100%;
	float:left;
	font-family:'proxima-nova',Arial,Helvetica,sans-serif;
	font-size:15px;
	line-height:20px;
	font-weight:400;
	color:#454545;
}

footer .info {
	float:left;
	width:65%;
	margin-right:5%;
}

footer .info a {
	color:#454545;
	text-decoration:none;
}

footer .madeby {
	float:right;
	width:30%;
	text-align:right;
}

footer .madeby a {
	color:#454545;
	text-decoration:none;
	font-weight:800;
}

/* search */
.searchbox {
	float:left;
	width:100%;
	padding:0 0 50px;
}

.searchbox > div {
	margin:0 0 10px;
	padding:0;
	background:#e6e7e1;
	position:relative;
	width:70%;
}

.searchbox form {
	padding:0 42px 0 10px;
	border:1px solid #dad6bd;
}

.searchbox input[type='text'] {
	padding:10px 0;
	margin:0;
	height:18px;
	font-size:16px;
	font-family:'droid-serif',serif;
	font-style:italic;
	color:#847f7b;
	text-shadow:1px 1px 0 #fff;
	line-height:18px;
	width:100%;
	border:none;
	background:none;
	outline:none;
	position:relative;
	z-index:1;
}

.searchbox input[type='submit'] {
	height:25px;
	width:27px;
	padding:0;
	margin:0;
	text-indent:-9999px;
	border:none;
	background:url('../Images/icon_search.png') left center no-repeat;
	outline:none;
	position:absolute;
	z-index:2;
	top:7px;
	right:6px;
}

.searchbox p {
	font-family:'proxima-nova',Arial,Helvetica,sans-serif;
	font-size:16px;
	line-height:20px;
	color:#454545;
	display:block;
}

.hit-events {
	float:left;
	width:48.5%;
}

.hit-articles {
	float:right;
	width:48.5%;
}

.search-results h2 {
	border-bottom:1px solid #c7c2bc;
	text-transform:uppercase;
	font-size:18px;
}

.search-results a {
	display:block;
	text-decoration:none;
	margin:0 0 15px;
}

.search-results h3 {
	font-family:'droid-serif',serif;
	font-weight:normal;
	font-style:italic;
	font-size:18px;
	line-height:20px;
	color:#454545;
	margin:0;
	transition:color .4s;
	-moz-transition:color .4s;
	-webkit-transition:color .4s;
	-o-transition:color .4s;
}

.search-results a:hover h3 {
	color:#000;
}

.search-results i {
	font-family:'proxima-nova',Arial,Helvetica,sans-serif;
	color:#777;
	display:block;
	margin-bottom:3px;
}

.search-results figure {
	float:left;
	width:40%;
	margin-right:3%;
}

.search-results figure img {
	display:block;
	width:100%;
}
